<br>
<div class ="container mt-5 pt-5">
  <div class ="row">

    <div class="col-lg-8">
      <div class="card-trip">
      <img src=<%= @booking.carpark.photo %>>
        <div class="card-trip-infos">
          <div>
            <h2><%=@booking.carpark.address %></h2>
            <p>Length: <%=@booking.carpark.length %>cm x
              Width: <%=@booking.carpark.width %>cm x
              Height: <%=@booking.carpark.height %>cm</p>
          </div>
          <h2 class="card-trip-pricing">Rate Per Day: $<%=@booking.carpark.rate_day%></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card-product-infos booking-form-card">
        <%= simple_form_for [@booking], html: { class: 'form-group' } do |f| %>
          <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
          <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
          <%= f.submit "Update booking", class: "btn btn-outline-success"%>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div>
  <%= link_to "Make a new booking", root_path, class: "btn btn-primary btn-sm" %>
  </div>
  <%= link_to "Back to my bookings", bookings_path, class: "btn btn-primary btn-sm" %>
  </div>
  <div>
</div>
