<br>
<div class ="container mt-5 pt-5">
  <div class ="row">

    <div class="col-lg-8">
      <div class="card-trip">
      <img src=<%= @booking.carpark.photo %>>
        <div class="card-trip-infos">
          <div>
            <h2><%=@booking.carpark.address %></h2>
            <p>Length: <%=@booking.carpark.length %>cm x
              Width: <%=@booking.carpark.width %>cm x
              Height: <%=@booking.carpark.height %>cm</p>
          </div>
          <h2 class="card-trip-pricing">Rate Per Day: $<%=@booking.carpark.rate_day%></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card-product-infos booking-form-card" id='carpark-booking-dates' data-unavailable="<%= @booking.carpark.unavailable_dates.to_json %>">
        <%= simple_form_for  @booking do |f| %>
          <h3 class="pt-3">Booking:</h3>
          <%= f.input :start_date, as: :string, type: :text, class: "form-control", placeholder: "Select your start date" %>
          <%= f.input :end_date, as: :string, type: :text, class: "form-control", placeholder: "Select your end date" %>
          <% if user_signed_in? %>
            <% if current_user.id != @booking.carpark.user_id  %>
              <%= f.submit "Reserve now", class: "btn btn-outline-success mt-5"%>
            <% else %>
              <%= link_to "My Dashboard", bookings_path, class: "btn btn-outline-success mt-5" %>
            <% end %>
          <% else %>
            <%= f.submit "Reserve now", class: "btn btn-outline-success mt-5"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <div>
  <%= link_to "Make a new booking", root_path, class: "btn btn-primary btn-sm" %>
  </div>
  <%= link_to "Back to my bookings", bookings_path, class: "btn btn-primary btn-sm" %>
  </div>
  <div>
</div>
