<div class="banner-bookings">
  <div class="container">
    <h1 class="head text-center my-5 py-5">My Bookings</h1>
  </div>
</div>
<div class="container my-5">
  <div class="col-md-10 mt-5 mx-auto">
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <img src=<%= booking.carpark.photo %> />
        <div class="card-product-booking-infos">
          <% if booking.start_date > @today_date %>
            <p class="py-2" id="remaining_days">
              <%= (booking.start_date - @today_date).to_f.ceil %>
              days left
            </p>
          <% else %>
            <p class="py-2" id="remaining_days">
              Ongoing booking
            </p>
          <% end %>
          <h2 id="booking-link"><%= link_to booking.carpark.address, edit_booking_path(booking) %></h2>
          <p class="mb-2 mt-1">Booking date: <%= booking.start_date %> to <%= booking.end_date %></p>
          <%= link_to "Edit Booking", edit_booking_path(booking), class: "btn btn-primary" %>
          <%= link_to "Cancel Booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to cancel the booking?" }, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
