<br>
<div class ="container mt-5 pt-5">
  <div class ="row">
    <div class="col-lg-8">
      <div class="card-trip">
      <img src=<%= @carpark.photo %>>
        <div class="card-trip-infos">
          <div>
            <h2><%=@carpark.address %></h2>
            <p>Length: <%=@carpark.length %>cm x Width: <%=@carpark.width %>cm x Height: <%=@carpark.height %>cm</p>
          </div>
          <h2 class="card-trip-pricing">Rate Per Day: $<%= @carpark.rate_day %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-product-infos booking-form-card" id='carpark-booking-dates' data-unavailable="<%= @carpark.unavailable_dates.to_json %>">
        <%= simple_form_for [@carpark, @booking] do |f| %>
          <%= f.input :start_date, as: :string, type: :text, class: "form-control ", placeholder: "Select your start date" %>
          <%= f.input :end_date, as: :string, type: :text, class: "form-control", placeholder: "Select your end date" %>
          <% if user_signed_in? %>
            <% if current_user.id != @carpark.user_id  %>
              <%= f.submit "Reserve now", class: "btn btn-outline-success mt-5"%>
            <% else %>
              <%= link_to "My Dashboard", bookings_path, class: "btn btn-outline-success mt-5" %>
            <% end %>
          <% else %>
            <%= f.submit "Reserve now", class: "btn btn-outline-success mt-5"%>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
  <br>
  <div>
    <% if user_signed_in? %>
      <% if current_user.id == @carpark.user_id  %>
        <%= link_to "Edit Carpark", edit_carpark_path(@carpark), class: "btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
    </div>
      <%= link_to "Back To All Carparks", carparks_path, class: "btn btn-primary btn-sm" %>
    </div>
  <div>
</div>
<br>
<div class ="container">
  <% @reviews.each do |review| %>
    <div class ="row">
      <div class="col-lg-8">
        <div class="card-product-review">
          <h2><%= review.rating %></h2>
          <p>"<%= review.content %>" - <strong><%= review.booking.user.email %></strong></p>
        </div>
      </div>
    </div>
    <% end %>
</div>


